.feynman__title {
  display: flex;
width: 648px;
flex-wrap: wrap;
position: relative;
align-items: center;
margin: 100px auto 70px;
line-height: 1.15;
font-size: 120px;
font-weight: 600;
justify-content: center;
text-align: center;
}