.section-title_theme_dark {
  width: 60%;
  display: flex;
  margin: 90px auto 0;
  position: relative;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  justify-content: center;
  z-index: 9;
  color: #f2f2f2;
  }
 